# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-identity
azure-keyvault
azure-storage-blob
azure-storage-queue
pyodbc
fastapi
uvicorn[standard]
pydantic
aiohttp
azure-ai-agents
azure-ai-projects
azure-ai-textanalytics
azure-common
azure-core
azure-core-tracing-opentelemetry
azure-mgmt-core
azure-mgmt-logic
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
azure-storage-blob
azure-ai-textanalytics
promptflow-core
semantic-kernel